@model IEnumerable<PetSitter.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Welome to our Pet Sitter Website</h1>
<h2>You can view your profile, click the "Profile" tab on the navigation bar!</h2>