@model IEnumerable<PetSitter.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<div class="text-center">
    
*@    
    <div class="wrapper">
        <div class="storeTitle">
            <div class="webBriefDescription">
                <h1 class="display-4" id="h1-pet">Find your best friend's new best friend.'</h1>
                <p>Over 1 million people use Petsitter.com for their pet sitting nees.</p>
                <a class="btn">Find a pet sitter</a>
            </div>
            <img class="petsitterBrief" src="~/images/pet-sitter-cartoon-icon-cartoon-icon-kind-pet-sitter-feeding-cats-dog-vector-illustration.jpg" alt="petsitter">
        </div>





        <div class="howItWorks">
            <h1>How it works</h1>
            <div class="PicHowItWorks">
            <img class="PicHowItWorksimg" src="~/images/pet-sitter-cartoon-icon-cartoon-icon-kind-pet-sitter-feeding-cats-dog-vector-illustration.jpg" alt="petsitter">
            </div>
  
            <ol class="wayOfHowItWorks">
                <li>
                <legend>Tell us your needs</legend>
                    <p>Help us understand what you 're looking for by answering a few simple questions.</p>
                </li>

                <li>
                <legend>Browse your top matches</legend>
                    <p>Compare pet sitters and prices near you, then talek to the ones you like.</p>
                </li>
                <li>
                <legend>Hire the best pet sitter</legend>
                    <p>Schedule a time with the petsitter of your choice and you 're good to go.It's that easy.</p>
                </li>

            </ol>
        <a class="btn getStartedbtn">Get Started</a>

        </div>


        <div class="wayToHireaccept-policyProfessionalCleaner">

            <h1>The #1 way to hire a professional Cleaner</h1>
            <div>
            <img class="locationpic" src="~/images/location.svg" alt="location picture">
            <h2>Local pet sitters near you</h2>
            <p>We have pet sitters in over 30,000 cities across the US and Canada.</p>
            </div>
        <div>
            <img class="HireYouTerm" src="~/images/HireYouterm.svg" alt="Hire you term">
            <h2>Hire on your own terms</h2>
            <p>Choose a pet sitter who fits your sche</p>
        </div>

        </div>




    </div>
  