@model PetSitter.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="text-center">
    
*@   



    <div class="wrapper">
        <div class="container storeTitle">
        <div class="row flex-column-reverse flex-lg-row webBriefDescription">
            <div class="col-lg-4 text-center">
                <h1 class="display-4" id="h1-pet">Find your best friend's new best friend.'</h1>
                <p>Over 1 million people use Petsitter.com for their pet sitting nees.</p>
                <a class="btn">Find a pet sitter</a>
                </div>
            <div class="col-lg-8 ">

                <img class="petsitterBrief" src="~/images/pet-sitter-cartoon-icon-cartoon-icon-kind-pet-sitter-feeding-cats-dog-vector-illustration.jpg" alt="petsitter">
            </div>
        </div>
        </div>

        <img class="adv" src="~/images/HUFFPOST.svg" alt="HUFFPOST">


        <div class="howItWorks">
            <h1>How it works</h1>
            <div class="PicHowItWorks">
            <img class="PicHowItWorksimg" src="~/images/pet-sitter-cartoon-icon-cartoon-icon-kind-pet-sitter-feeding-cats-dog-vector-illustration.jpg" alt="petsitter">
            </div>
  
            <ol class="wayOfHowItWorks">
                <li>
                <legend>Tell us your needs</legend>
                    <p>Help us understand what you 're looking for by answering a few simple questions.</p>
                </li>

                <li>
                <legend>Browse your top matches</legend>
                    <p>Compare pet sitters and prices near you, then talek to the ones you like.</p>
                </li>
                <li>
                <legend>Hire the best pet sitter</legend>
                    <p>Schedule a time with the petsitter of your choice and you 're good to go.It's that easy.</p>
                </li>

            </ol>
        <a class="btn getStartedbtn">Get Started</a>

        </div>


        <div class="wayToHireacceptProfessionalCleaner">

            <h1>The #1 way to hire a professional Cleaner</h1>
         <div class="hireAProfessionalCleaner">
            <div class="medialocation">

                <img class="locationpic item-a" src="~/images/location.svg" alt="location picture">
                <div>
                <h2 class="item-b">Local pet sitters near you</h2>
                <p class="item-c">We have pet sitters in over 30,000 cities across the US and Canada.</p>
                </div>
            </div>
            <div class="mediaHireYouTerm">

                <img class="HireYouTerm item-d" src="~/images/HireYouterm.svg" alt="Hire you term">
                <div>

                <h2 class="item-e">Hire on your own terms</h2>
                <p class="item-f">Choose a pet sitter who fits your schedule and pay them directly.</p>
                 </div>
             </div>

            <div class="mediaPersonalized">
                <img class="Personalized item-g" src="~/images/PersonalizedPetSitting.png" alt="Personalize Pet Sitting">
                <div>
                <h2 class="item-h">Personalized pet sittting</h2>
                <p class ="item-i">Whether it's a drop-in visit for your cat or long walks with your dog, we' got you covered.</p>
                </div>
            </div>


        </div>
        </div>


        <div class="FindPetSitter">
            <h1>Ready to find a pet sitter ?</h1>
            <a class="btn">Find a pet sitter now</a>
    
        </div>

    </div>


  