@model IEnumerable<PetSitter.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<div class="text-center">
    
*@    
    <div class="wrapper">
        <div class="storeTitle">
            <div class="webBriefDescription">
                <h1 class="display-4" id="h1-pet">Find your best friend's new best friend.'</h1>
                <p>Over 1 million people use Petsitter.com for their pet sitting nees.</p>
                <a class="btn">Find a pet sitter</a>
            </div>
            <img class="petsitterBrief" src="~/images/pet-sitter-cartoon-icon-cartoon-icon-kind-pet-sitter-feeding-cats-dog-vector-illustration.jpg" alt="petsitter"></a>
        </div>





        <div class="howItWorks">
            <h1>How it works</h1>
            <div class="PicHowItWorks">
            <img class="PicHowItWorksimg" src="~/images/pet-sitter-cartoon-icon-cartoon-icon-kind-pet-sitter-feeding-cats-dog-vector-illustration.jpg" alt="petsitter"></a>
            </div>
  
            <ol class="wayOfHowItWorks">
                <li>
                    <h2>Tell us your needs</h2>
                    <p>Help us understand what you 're looking for by answering a few simple questions.</p>
                </li>

                <li>
                    <h2>Browse your top matches</h2>
                    <p>Compare pet sitters and prices near you, then talek to the ones you like.</p>
                </li>
                <li>
                    <h2>Hire the best pet sitter</h2>
                    <p>Schedule a time with the petsitter of your choice and you 're good to go.It's that easy.</p>
                </li>

            </ol>
            <a class="btn">Get Started</a>

        </div>
    </div>