@model IPN

@{
    ViewData["Title"] = "PayPal Confirmation";
}

<br />
<br />

<div class="text-success">
    <div class="text-center">
        <div class="text-center">
            <span class="text-center">
                <span style="font-size: 2em;">Congratulations Purchaser!</span>
                <br />
                <br />
                <br />
                <br />
                <span style="font-size: 1.4em;">
                    <span>Your $</span><span>@Model.amount</span>
                    <span>@Model.currency</span>
                    <span>PayPal transaction was successful.</span>
                </span>
            </span>
            <br />
            <br />
            <span class="text-center" style="font-size: 1.2em;">Keep this transaction Id for future reference.</span>
            <span style="color: black; font-size: 1.2em;">@Model.paymentID</span>
        </div>
    </div>
</div>