@model PetSitter.ViewModels.BookingVM

@{
    ViewData["Title"] = "ConfirmBooking";
}

<h1>Pay For Booking</h1>

<div>
    This is the payment page.
    <a asp-action="CompleteBooking">Pay Now</a>
</div>
